<%= form_for(@profile, :url => user_profile_path(@profile)) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field clearfix">
	<div class="field-left">
		Name :
	</div>
	<div class="field-form">
		<%= f.text_field :name, size: "60" %>
	</div>
  </div>
  <div class="field clearfix">
	<div class="field-left">
		Grade :
	</div>
	<div class="field-form">
		<%= f.number_field :grade, size: "60"  %>
	</div>
  </div>
  <div class="field clearfix">
	<div class="field-left">
		Image :
	</div>
	<div class="field-form">
		<%= image_tag @profile.avatar_url(:thumb).to_s %><br />
		<%= f.file_field :avatar %>
	</div>
  </div>
  <div class="field clearfix">
	<div class="field-left">
		Biography :
	</div>
	<div class="field-form">
		<%= f.text_area :bio, size: "50x10" %>
	</div>
  </div>
  <div class="field clearfix">
	<div class="field-left">
		url :
	</div>
	<div class="field-form">
		<%= f.text_field :url, size: "60"  %>
	</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
