<%= div_for(profile) do %>
	<div class="avatar-pain">
		<%= avatar_image_thumb(profile.user) %>
	</div>
	<div class="main clearfix">
		<span class="profile-name">
			<%= link_to profile.name, user_profile_path(profile) %>
		</span>
		<span>
			<%= link_to profile.user.student_id, user_profile_path(profile) %> / 
			<%= profile.user.department %> / 
			<%= profile.grade %>th grade / 
			<%= link_to profile.url, profile.url, target: "blank" if profile.url != nil %> / 
			<%= read_or_unread(profile.user) %>
		</span>
		<div class="bio">
			<%= escape_once profile.bio %>
		</div>
		<span></span>
	</div>
<% end %>
<hr />