<h1><%= @profile.name %>'s profile</h1>
<div id="profile-sidebar">
	<%= link_to(image_tag(@profile.avatar_url(:middle).to_s), @profile.avatar.to_s, target: "blank") %><br />
	<%= link_to "show detail", detail_user_profile_path(@profile.user), class: "button" %><br />
		<%= link_to "reading users", user_readings_path(@profile.user), class: "button" %><br />
	<% if @profile.user.id != current_user.id %>
		<%= link_to "send message", new_user_direct_message_path(@profile.user), class: "button" %><br />
	<% else %>
	<%= link_to "edit profile", edit_user_profile_path(@profile), class: "button" %><br />
	<% end %>
</div>
<div id="profile-content">
	<h2><%= @profile.user.student_number %> - <%= @profile.name %></h2>
	<span style="color:#666;display:block;">
		<%= @profile.user.department %>/
		<%= @profile.grade %>th grade
	</span>
	<div id="profile-url">
		<%= link_to @profile.url, @profile.url, target: "blank" %>
	</div>
	<div id="profile-bio">
		<%=	simple_format @profile.bio %>
	</div>
</div>