<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Grade:</b>
  <%= @profile.grade %>
</p>

<p>
  <b>Avatar:</b>
  <%= @profile.avatar %>
</p>


<%= link_to 'Edit', edit_user_profile_path(@profile) %>
