<%= form_for([@direct_message.to_user, @direct_message]) do |f| %>
  <% if @direct_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direct_message.errors.count, "error") %> prohibited this direct_message from being saved:</h2>

      <ul>
      <% @direct_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, size: "80x6" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
