<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Show pages', note_pages_path(@note) %> |
<%= link_to 'Show note_images', note_note_images_path(@note) %> |
<%= link_to 'Back', notes_path %>
