<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Micropost:</b>
  <%= @comment.micropost_id %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_micropost_comment_path(@comment.micropost, @comment) %> |
<%= link_to 'Back', micropost_comments_path(params[:micropost_id]) %>
