<%= form_for(@direct_massage) do |f| %>
  <% if @direct_massage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direct_massage.errors.count, "error") %> prohibited this direct_massage from being saved:</h2>

      <ul>
      <% @direct_massage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :to_id %><br />
    <%= f.number_field :to_id %>
  </div>
  <div class="field">
    <%= f.label :from_id %><br />
    <%= f.number_field :from_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :unread %><br />
    <%= f.check_box :unread %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
