<h1>Listing direct_massages</h1>

<table>
  <tr>
    <th>To</th>
    <th>From</th>
    <th>Content</th>
    <th>Unread</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @direct_massages.each do |direct_massage| %>
  <tr>
    <td><%= direct_massage.to_id %></td>
    <td><%= direct_massage.from_id %></td>
    <td><%= direct_massage.content %></td>
    <td><%= direct_massage.unread %></td>
    <td><%= link_to 'Show', direct_massage %></td>
    <td><%= link_to 'Edit', edit_direct_massage_path(direct_massage) %></td>
    <td><%= link_to 'Destroy', direct_massage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Direct massage', new_direct_massage_path %>
