<%= div_for(micropost) do %>
	<div class="micropost-profile">
		<%= avatar_image_thumb micropost.user %>
	</div>
	<div class="micropost-content clearfix">
		<div class="micropost-header">
			<%= link_to micropost.user.profile.name, user_profile_path(micropost.user) %>
			<%= read_or_unread(micropost.user) %>
		</div>
		<div class="micropost-body">
			<%= micropost.content %>
		</div>
		<div class="comments-wrapper">
			<%= render micropost.comments %>
		</div>
		<div class="micropost-footer">
			<%= link_to "comment", new_user_micropost_comment_path(micropost.user,
			micropost) %>
			<% if micropost.user == current_user %>
				<%= link_to "delete" , user_micropost_path(micropost.user, micropost), method: :delete %>
			<% end %>
		</div>
	</div>
<% end %>