<div id="sidebar">
	<%= link_to "#{current_user.profile.name}", user_profile_path(current_user) %><br/>
	<%= avatar_image_thumb current_user %><br />

<ol id="boards_menu">
	<li class="<%= li_point("campus") %>"><%= link_to "Campus", campus_path %>
	<li class="<%= li_point("reading") %>"><%= link_to "Reading", reading_path %>
	<li><%= link_to "Read users", user_readings_path(current_user.id) %>
	<li><%= link_to "Users", profiles_users_path %>
	<li><%= link_to "Notes", listing_notes_path(department: current_user.department, grade: current_user.profile.grade) %>
	<li><%= link_to "Note images", images_notes_path %>
</ol>

</div>